@media (min-width: 480px) {

    .navbar {
        height: 51px;
        padding: 0 30px;
        margin: 10px 0;
    }

    .navbar a {
        float: none;
        padding: 0 10px;
        font-size: 20px;
        line-height: 51px;
    }

    .navbar a.main-title {
        display: block;
    }

    .navbar a.main-title:hover {
        text-shadow: 0 0 16px black;
    }

    .navbar a.next {
        display: none;
    }

    .navbar a.year {
        display: none;
    }

    .navbar a.year:hover {
        display: none;
    }

    .navbar a.sub-title {
        display: none;
    }

    .navbar a.sub-title:hover {
        display: none;
    }

    .video-page {
        grid-template-columns: calc(100vw - 20px);
        grid-template-rows: calc((100vw - 20px) * 0.5625) 27px 27px auto;
        gap: 8px;
        padding: 0 0 10px 0;
    }

    .main-video {
        width: calc(100vw - 20px);
        height: calc((100vw - 20px) * 0.5625) ;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .video-main iframe {
        width: calc(100vw - 20px);
        height: calc((100vw - 20px) * 0.5625);
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #main-video-title {
        font-size: 20px;
        padding: 0 0 0 10px;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 20px;
        padding: 0 0 0 10px;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: calc(100vw - 20px);
        height: calc(100vh - (((100vw - 20px) * 0.5625) + 159px));
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .main-playlist::-webkit-scrollbar {
        display: block;
        width: 10px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        display: block;
        border-radius: 10px;
    }

    .playlist-img {
        width: 24vw;
        height: 13.5vw;
        min-width: 192px;
        min-height: 108px;
        padding: 2px 4px;
    }

    .playlist-title {
        width: auto;
        font-size: 18px;
        padding: 0 0 0 8px;
    }

    #gttopbtn {
        padding: 15px 30px;
        bottom: 30px;
        right: 30px;
        font-size: 18px;
    }

}

@media (min-width: 940px) {

    body::-webkit-scrollbar {
        display: block;
        width: 10px;
    }

    body::-webkit-scrollbar-thumb {
        display: block;
        border-radius: 10px;
    }

    .navbar {
        height: 51px;
        padding: 0 max(30px, calc((100vw - 1090px) / 2));
        margin: 10px 0;
    }

    .navbar a {
        float: left;
        padding: 0 10px;
        font-size: 20px;
        line-height: 51px;
    }

    .navbar a.main-title {
        display: block;
    }

    .navbar a.main-title:hover {
        text-shadow: 0 0 16px black;
    }

    .navbar a.next {
        display: block;
        text-shadow: none;
    }
   
    .navbar a.year {
        display: block;
    }

    .navbar a.year:hover {
        display: block;
        text-shadow: 0 0 16px black;
    }

    .navbar a.sub-title {
        display: block;
    }

    .navbar a.sub-title:hover {
        display: block;
        text-shadow: 0 0 16px black;
    }

    .video-page {
        grid-template-columns: min(1120px, calc(100vw - 30px));
        grid-template-rows: min(630px, calc((100vw - 30px) * 0.5625)) 27px 27px auto;
    }

    .main-video {
        width: calc(100vw - 30px);
        height: calc((100vw - 30px) * 0.5625);
        max-width: 1120px;
        max-height: 630px;
    }

    .video-main iframe {
        width: calc(100vw - 30px);
        height: calc((100vw - 30px) * 0.5625);
        max-width: 1120px;
        max-height: 630px;
    }

    .main-playlist {
        width: calc(100vw - 30px);
        max-width: 1120px;
        min-height: calc(100vh - (((100vw - 30px) * 0.5625) + 159px));
        max-height: calc(100vh - (630px + 159px));
        height: auto;
    }

    .main-playlist::-webkit-scrollbar {
        display: none;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        display: none;
    }

    .playlist-img {
        width: 24vw;
        height: 13.5vw;
        max-width: 288px;
        max-height: 162px;
        padding: 2px 4px;
    }

    .playlist-title {
        width: auto;
        font-size: 20px;
        padding: 0 0 0 10px;
    }

}