.navbar {
    height: 31px;
    padding: 0 2.5vw;
    margin: 1vw 0;
    text-align: center;
}

.navbar a {
    float: none;
    padding: 0 20px;
    font-size: 12px;
    line-height: 31px;
}

.navbar a.main-title:hover {
    text-shadow: 0 0 10px black;
}

.navbar a.next {
    display: none;
}

.navbar a.year {
    display: none;
}

.navbar a.sub-menu {
    display: none;
}

.navbar a.sub-title {
    display: none;
}

.navbar a.sub-menu:hover {
    display: none;
}

.video-page {
    grid-template-columns: 98vw;
    grid-template-rows: 55.125vw 19px 19px auto;
    gap: 1vw;
    padding: 0 0 1vw 0;
}

.main-video {
    width: 98vw;
    height: 55.125vw;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.video-main iframe {
    width: 98vw;
    height: 55.125vw;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#main-video-title {
    font-size: 14px;
    padding: 0 0 0 2vw;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#main-video-subtitle {
    font-size: 14px;
    padding: 0 0 0 2vw;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.main-playlist {
    width: 98vw;
    height: calc(100vh - 61.125vw - 69px);
    min-height: 400px;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.playlist-img {
    width: 35vw;
    height: 26.25vw;
    padding: 1px 2px;
}

.playlist-title {
    width: calc(63vw - 16px);
    font-size: 12px;
    padding: 0 0 0 4px;
}


#gttopbtn {
    display: none;
}

@media (min-width: 480px) {

    body::-webkit-scrollbar {
        display: block;
        width: 10px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 10px;
    }

    .navbar {
        height: 45px;
        padding: 0 20px;
        margin: 10px 0;
    }

    .navbar a {
        float: left;
        padding: 0 8px;
        font-size: 18px;
        line-height: 45px;
    }

    .navbar a.main-title:hover {
        text-shadow: 0 0 16px black;
    }

    .navbar a.next {
        display: block;
        text-shadow: none;
    }
    
    .navbar a.year {
        display: block;
        text-shadow: none;
    }

    .navbar a.sub-menu {
        display: block;
    }

    .navbar a.sub-title {
        display: block;
        text-shadow: none;
    }

    .navbar a.sub-menu:hover {
        display: block;
        text-shadow: 0 0 16px black;
    }

    .video-page {
        grid-template-columns: calc(100vw - 30px);
        grid-template-rows: calc((100vw - 30px) * 0.5625) 27px 27px auto;
        gap: 8px;
        padding: 0 0 10px 0;
    }

    .main-video {
        width: calc(100vw - 30px);
        height: calc((100vw - 30px) * 0.5625) ;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .video-main iframe {
        width: calc(100vw - 30px);
        height: calc((100vw - 30px) * 0.5625);
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #main-video-title {
        font-size: 20px;
        padding: 0 0 0 10px;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 20px;
        padding: 0 0 0 10px;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: calc(100vw - 30px);
        height: auto;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .main-playlist::-webkit-scrollbar {
        width: 0px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        border-radius: 0px;
    }

    .playlist-img {
        width: 24vw;
        height: 13.5vw;
        min-width: 160px;
        min-height: 90px;
        padding: 2px 4px;
    }

    .playlist-title {
        width: min(calc(100vw - 206px), calc(76vw - 46px));
        font-size: 18px;
        padding: 0 0 0 8px;
    }

    #gttopbtn {
        padding: 15px 30px;
        bottom: 30px;
        right: 30px;
        font-size: 18px;
    }

}

@media (min-width: 670px) {

    .playlist-title {
        font-size: 20px;
    }

}

@media (min-width: 1530px) {

    body::-webkit-scrollbar {
        display: block;
        width: 10px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 10px;
    }

    .navbar {
        height: 51px;
        padding: 0 max(60px, calc((100vw - 2300px) / 2));
        margin: 12px 0;
    }

    .navbar a {
        float: left;
        padding: 0 12px;
        font-size: 20px;
        line-height: 51px;
    }

    .navbar a.main-title:hover {
        text-shadow: 0 0 20px black;
    }

    .navbar a.next {
        display: block;
        text-shadow: none;
    }
    
    .navbar a.year {
        display: block;
        text-shadow: none;
    }

    .navbar a.sub-menu {
        display: block;
    }

    .navbar a.sub-title {
        display: block;
        text-shadow: none;
    }

    .navbar a.sub-menu:hover {
        display: block;
        text-shadow: 0 0 16px black;
    }

    .video-page {
        grid-template-columns: min(1760px, calc(100vw - 590px)) 560px;
        grid-template-rows: min(990px, calc((100vw - 590px) * 0.5625)) 30px 30px;
        gap: 8px 4px;
        padding: 0;
    }
		
    .main-video {
        width: calc(100vw - 590px);
        height: calc((100vw - 590px) * 0.5625);
        max-width: 1760px;
        max-height: 990px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        overflow: hidden;
    }
    
    .video-main iframe {
        width: calc(100vw - 590px);
        height: calc((100vw - 590px) * 0.5625);
        max-width: 1760px;
        max-height: 990px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        overflow: hidden;
    }

    #main-video-title {
        font-size: 22px;
        padding: 0 0 0 20px;
        margin: 0;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 22px;
        padding: 0 0 0 20px;
        margin: 0;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 560px;
        height: calc((100vw - 590px) * 0.5625);
        max-height: 990px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .main-playlist::-webkit-scrollbar {
        width: 10px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    .playlist-img {
        width: 224px;
        height: 126px;
        padding: 2px 4px;
    }

    .playlist-title {
        width: 310px;
        font-size: 18px;
        padding: 0 0 0 8px;
    }

    #gttopbtn {
        display: none;
    }

}

@media (min-width: 2420px) {

    #main-video-title {
        padding: 0 0 0 20px;
    }

    #main-video-subtitle {
        padding: 0 0 0 20px;
    }

}