@media (min-width: 1600px) {
    body::-webkit-scrollbar {
        display: block;
        width: 10px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #a0a0a0;
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 10px;
    }

    .header {
        background-position: 50% -6vh;
    }

    .header-title {
        font-size: 40px;
        padding: 26vh 0;
    }

    .navbar {
        height: 49px;
    }

    .navbar-title {
        position: absolute;
        left: 175px;
        transform: translateX(-50%);
        font-size: 20px;
        padding: 12px 20px;
    }

    .navbar a.navbar-title:hover {
        text-shadow: 0 0 20px black;
    }

    .google-login img {
        height: 45px;
        padding: 2px 0;
    }

    .row-side {
        display: block;
        width: 300px;
        padding: 25px;
        background-color: #f0f0f0;
        overflow: hidden;
        text-align: center;
        flex-direction: column;
    }

    .row-side a {
        display: block;
        color: #000000;
        font-size: 18px;
        padding: 10px 0 0 0;
        text-decoration: none;
        display: inline-block;
    }

    .row-side ul {
        display: block;
        width: 300px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

    .row-side ul:hover {
        display: block;
        background-color: #dbbbfb;
        border-radius: 8px;
    }

    .side-thumb-img {
        display: block;
        width: 300px;
        height: auto;
        border-radius: 8px;
    }

    .row-main {
        width: calc(100vw - 380px);
        padding: 0 10px 10px 10px;
    }

    .main-middle {
        font-size: 20px;
        padding: 12px;
        margin: 10px 0;
    }

    .main-list {
        content-visibility: visible;
        contain-intrinsic-size: none;
    }

    .list-select {
        width: calc((100vw - 380px) / 4);
    }

    .list-img img {
        width: calc((100vw - 412px) / 4);
        height: calc(((100vw - 412px) / 4) * 1.5);
        padding: 4px 4px 0 4px;
    }

    .list-title {
        height: 120px;
        padding: 0 4px 4px 4px;
        font-size: 18px;
    }

    footer {
        font-size: 20px;
        padding: 12px 0px;
    }

    #gototop {
        padding: 18px 40px;
        bottom: 40px;
        right: 40px;
        font-size: 20px;
    }

    #searchInput {
        font-size: 20px;
    }

    .no-result {
        padding: 100px 0 0 0;
    }

    .autocomplete-item {
        font-size: 16px;
    }
}

@media (min-width: 1920px) {
    .header {
        background-position: 50% -10vh;
    }

    .header-title {
        padding: 30vh 0;
    }

    .list-select {
        width: calc((100vw - 380px) / 5);
    }

    .list-img img {
        width: calc((100vw - 420px) / 5);
        height: calc(((100vw - 420px) / 5) * 1.5);
        padding: 4px 4px 0 4px;
    }
}

@media (min-width: 2560px) {
    .header {
        background-position: 50% -14vh;
    }

    .header-title {
        padding: 34vh 0;
    }

    .list-select {
        width: calc((100vw - 380px) / 6);
    }

    .list-img img {
        width: calc((100vw - 428px) / 6);
        height: calc(((100vw - 428px) / 6) * 1.5);
        padding: 4px 4px 0 4px;
    }
}

@media (min-width: 3840px) {
    .list-select {
        width: calc((100vw - 380px) / 8);
    }

    .list-img img {
        width: calc((100vw - 428px) / 8);
        height: calc(((100vw - 428px) / 8) * 1.5);
        padding: 4px 4px 0 4px;
    }
}
