@media (min-width: 0px) {
    .navbar {
        height: 31px;
        padding: 0 2.5vw;
        margin: 1vw 0;
    }

    .navbar a {
        float: none;
        padding: 0 20px;
        font-size: 12px;
        line-height: 31px;
    }

    .navbar a.main-title {
        display: block;
    }

    .navbar a.main-title:hover {
        text-shadow: 0 0 10px #ffffff;
    }

    .navbar a.next {
        display: none;
    }

    .navbar a.year {
        display: none;
    }

    .navbar a.year:hover {
        display: none;
    }

    .navbar a.sub-title {
        display: none;
    }

    .navbar a.sub-title:hover {
        display: none;
    }

    .video-page {
        grid-template-columns: 98vw;
        grid-template-rows: 55.125vw 19px 19px auto;
        gap: 1vw;
        padding: 0 0 1vw 0;
    }

    .main-video {
        width: 98vw;
        height: 55.125vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .video-main iframe {
        width: 98vw;
        height: 55.125vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #main-video-title {
        font-size: 14px;
        padding: 0 0 0 2vw;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 14px;
        padding: 0 0 0 2vw;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 98vw;
        height: calc(100vh - 61.125vw - 69px);
        min-height: calc(98vw * 0.5625);
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .main-playlist::-webkit-scrollbar {
        display: block;
        width: 8px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        display: block;
        border-radius: 8px;
    }

    .playlist-img {
        width: 35vw;
        height: 26.25vw;
        padding: 1px 2px;
    }

    .playlist-title {
        width: calc(100vw - 37vw - 20px);
        font-size: 12px;
        padding: 0 0 0 4px;
    }

    #gototop {
        display: none;
    }
}
