@media (min-width: 1580px) {
    body::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar-thumb {
        display: none;
    }

    .navbar {
        height: 51px;
        padding: 0 max(50px, calc((100vw - 2424px) / 2));
        margin: 10px 0;
    }

    .navbar a {
        float: left;
        padding: 0 10px;
        font-size: 20px;
        line-height: 51px;
    }

    .navbar a.main-title {
        display: block;
    }

    .navbar a.main-title:hover {
        text-shadow: 0 0 20px black;
    }

    .navbar a.next {
        display: block;
        text-shadow: none;
    }

    .navbar a.year {
        display: block;
    }

    .navbar a.year:hover {
        display: block;
        text-shadow: 0 0 20px black;
    }

    .navbar a.sub-title {
        display: block;
    }

    .navbar a.sub-title:hover {
        display: block;
        text-shadow: 0 0 20px black;
    }

    .video-page {
        grid-template-columns: min(1920px, calc(100vw - 604px)) 560px;
        grid-template-rows: min(1080px, calc((100vw - 604px) * 0.5625)) 30px 30px;
        gap: 8px 4px;
        padding: 0;
        margin: 0 20px;
    }

    .main-video {
        width: calc(100vw - 604px);
        height: calc((100vw - 604px) * 0.5625);
        max-width: 1920px;
        max-height: 1080px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        overflow: hidden;
    }

    .video-main iframe {
        width: calc(100vw - 604px);
        height: calc((100vw - 604px) * 0.5625);
        max-width: 1920px;
        max-height: 1080px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        overflow: hidden;
    }

    #main-video-title {
        font-size: 22px;
        padding: 0 0 0 30px;
        margin: 0;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 22px;
        padding: 0 0 0 30px;
        margin: 0;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 560px;
        height: calc((100vw - 604px) * 0.5625);
        max-height: 1080px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .main-playlist::-webkit-scrollbar {
        display: block;
        width: 10px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        display: block;
        border-radius: 10px;
    }

    .playlist-img {
        width: 224px;
        height: 126px;
        padding: 2px 4px;
    }

    .playlist-title {
        width: 310px;
        font-size: 18px;
        padding: 0 0 0 8px;
    }

    #gototop {
        display: none;
    }
}
