@media (min-width: 480px) {

    body::-webkit-scrollbar {
        display: block;
        width: 10px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #A0A0A0;
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 10px;
    }

    .header-title {
        font-size: 30px;
        padding: calc((56.25vw - 38px) / 2) 0;
    }

    .navbar {
        height: 47px;
        padding: 0 30px;
    }

    .navbar-title {
        font-size: 18px;
        padding: 12px 20px;
    }

    .navbar a.navbar-title:hover {
        text-shadow: 0 0 16px black;
    }

    .google-login img {
        height: 43px;
    }

    .row-side {
        display: none;
    }

    .row-side a {
        display: none;
    }

    .row-side ul {
        display: none;
    }

    .row-side ul:hover {
        display: none;
    }

    .side-thumb-img {
        display: none;
    }

    .row-main {
        width: calc(100vw - 30px);
        padding: 0 10px 10px 10px;
    }

    .main-middle {
        font-size: 18px;
        padding: 10px;
        margin: 10px 0;
    }

    .list-select {
        width: calc((100vw - 30px) / 2);
    }

    .list-img img {
        width: calc((100vw - 46px) / 2);
        height: calc(((100vw - 46px) / 2) * 1.5);
        padding: 4px 4px 0 4px;
    }

    .list-title {
        height: 100px;
        padding: 0 4px 4px 4px;
        font-size: 18px;
    }

    footer {
        font-size: 18px;
        padding: 12px 0px;
    }

    #gototop {
        padding: 15px 30px;
        bottom: 30px;
        right: 30px;
        font-size: 18px;
    }

}

@media (min-width: 640px) {

    .header-title {
        font-size: 40px;
        padding: calc((56.25vw - 50px) / 2) 0;
    }

    .navbar {
        height: 49px;
        padding: 0 80px;
    }

    .navbar-title {
        font-size: 20px;
        padding: 12px 20px;
    }

    .google-login img {
        height: 45px;
    }

    .main-middle {
        font-size: 20px;
        padding: 12px;
        margin: 10px 0;
    }

    .list-select {
        width: calc((100vw - 30px) / 3);
    }

    .list-img img {
        width: calc((100vw - 54px) / 3);
        height: calc(((100vw - 54px) / 3) * 1.5);
    }

    footer {
        font-size: 20px;
        padding: 12px 0px;
    }

}

@media (min-width: 960px) {

    .list-select {
        width: calc((100vw - 30px) / 4);
    }

    .list-img img {
        width: calc((100vw - 62px) / 4);
        height: calc(((100vw - 62px) / 4) * 1.5);
    }

}

@media (min-width: 1280px) {

    .list-select {
        width: calc((100vw - 30px) / 5);
    }

    .list-img img {
        width: calc((100vw - 80px) / 5);
        height: calc(((100vw - 80px) / 5) * 1.5);
    }

}